@using SkillTree_MVC_HW.Models.ViewModel
@model IEnumerable<SkillTree_MVC_HW.Models.ViewModel.PersonalAccountingViewModel>

@{
    Layout = null;
    var textStyle = new Dictionary<PersonalAccountingViewModel.RecordCategory, string> {
        { PersonalAccountingViewModel.RecordCategory.Income, "blue"},
        { PersonalAccountingViewModel.RecordCategory.Expenditure, "red"}};
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @{
        int recordCount = 1;
        foreach (var item in Model)
        {
            <tr style="color: @textStyle[item.Category]">
                <td>
                    @(recordCount++)
                </td>
                <td>
                    @Html.DisplayName(item.Category.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    }
</table>